yt-dlp
moviepy
pyannote.audio
librosa
soundfile
scipy
pydub
ffmpeg-python
python-dotenv
transformers
deep-translator
langchain-groq
tqdm
edge-tts
openai
gtts
demucs
TTS==0.22.0
langchain
logger
gradio
git+https://github.com/openai/whisper.git